#content{
	margin-left: 30%;
}
button{
	height: 50px;
	font-family: sans-serif;
	font-size: 30px;
	background-color: orangered;
}
button:hover{
	background-color: lightblue;
}
#pic{
	border-radius: 50%;
	opacity: 1;
}
img{
	height: 500px;
	width: 500px;
	border-radius: 50%;
	background-color: lightblue;
	opacity: 1;
}
